<html>
    <head></head>
    <body>
        <h1>Work at Olist - Test Implementation</h1>
        <p>The project is an API responsible for:</p>
        <ul>
            <li>Register phone starts and ends calls</li>
            <li>Generate monthly bill</li>
        </ul>

        <h2>Description</h2>
        <p>A REST API that receives call records and generate monthly bills for 
            a given telephone number.
            This fork is a test resolution for a job application at 
            <a href="https://olist.com/">Olist</a> as Python Web Developer.
        </p>

        <h2>Deployed instance</h2>
        <p>The project was deployed on Heroku.</p>
        <ul>
            <li>Application: <a href="https://phonebillsolist.herokuapp.com/api/">https://phonebillsolist.herokuapp.com/api/</a></li>
            <li>API Documentation: <a href="https://phonebillsolist.herokuapp.com/docs/">https://phonebillsolist.herokuapp.com/docs/</a> </li>
        </ul>
    </body>
</html>